<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><strong>MACO WINS</strong></title>
</head>
<body>
    <header>
        <img src="./assets/img/">
        <h1><strong>MACO WINS</strong></h1>
    </header>
    <main>
        <section class="about-section">
            
        

            </section>
            <section class="work-section">
                <ul>
                    <li>Gorras</li>
                    <li>Buzos</li>
                    <li>Jeans</li>
                    <li>Medias</li>
                </ul>
                
            </section>
            <section class="education-section">
                <ul>
                    <li>FOTOS</li>
                    <li>FOTOS</li>
                    <li>FOTOS</li>
                    <li>FOTOS</li>
                    <li>FOTOS</li>
                </ul>

            </section>

            <section class="contac-section">

            </section>
            <section class="coctac-inf-section">
                <ul>
                    <li>Sucursales</li>
                    <li>Contacto</li>
                    <li>Medios de Pago</li>
                </ul>

            </section>
           

    </main>
</body>
</html>